<%- include('assets/header') %> 
<%- include('assets/navbar') %> 
<div class="container">
    <div class="row text-center mx-auto w-50pxr text-white" style="height: 300px;  width: 60%;">
        <h1 style="font-size: 60px; margin-top: 50px; ">Juégalo. El mejor buscaminas online.</h1>
        <p clas="margin-bottom: 50px;">Elije donde quieres acceder.</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark" style="width: 18rem;">
                <img src="./images/buscaminas.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Buscaminas</h5>
                  <p class="card-text">Comienza una nueva partida.</p>
                  <a href="https://www.ontinyent.es/va" class="btn btn-primary">Ir al Buscaminas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="width: 18rem;">
                <img src="./images/cronometro.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Resultados</h5>
                  <p class="card-text">Consulta tus mejores resultados en Buscaminas</p>
                  <a href="/weather" class="btn btn-primary">Ir a Resultados</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="width: 18rem;">
                <img src="./images/juegos.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Otros resultados</h5>
                  <p class="card-text">Consulta los resultados de otros juegos de Juégalo.</p>
                  <a href="/comments" class="btn btn-primary">Ir a Juégalo</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<%- include('assets/footer') %> 
